:root {
  --colorwhite: rgba(255, 255, 255, 0.9);
  --color1: #8ab2f0;
  --color2: #60799f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  background-color: rgb(24, 36, 48);
  @font-face {
    font-family: "comfortaa";
    src: url("fonts/Comfortaa-VariableFont_wght.ttf");
  }
  font-family: comfortaa;
}

body {
  width: 98.8vw;
}

header {
  height: 40vh;
  /* border: 1px solid var(--color1); */
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

h1 {
  font-size: 2.4rem;
  line-height: 4.4rem;
}

.header-image {
  margin: auto;
  max-height: 35vh;
  max-width: 35vw;
}

.header-text {
  margin: auto;
  font-size: 1.6rem;
  line-height: 120px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about {
  margin: 2rem;
  height: 50vh;
  border: 1px solid var(--color1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
}

.about-span1 {
  width: 45vw;
  margin-top: 2rem;
  margin-left: -2.8rem;
  p {
    max-width: 60ch;
  }
}

.about-span2 {
  width: 25vw;
  margin-top: 2rem;
  li {
    margin-top: 0.2rem;
  }
}

.project-div {
  height: 60vh;
  /* border: 1px solid var(--color1); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}

.project-text {
  max-width: 55ch;
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem 2rem 3rem;
}

.project-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-div a {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  max-height: 100%;
  padding: 1rem;
  border: solid 3px var(--color2);
  border-radius: 20px;
}

.project-div img {
  border: solid 1px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-top: 10px;
  max-width: 90%;
}
